<h2>
  We played scissors!
</h2>

<h2>
  They played <%= @comp_move %>
</h2>

<% if @comp_move == "rock" %>
  <% @result = "lost!" %>
<% elsif @comp_move == "paper" %>
  <% @result = "win!" %>
<% else %>
  <% @result = "tied!" %>
<% end %>
<h2>
  We <%= @result %>
</h2>

<%= link_to "Rules", "/" %>
