<h2>
  We played rock!
</h2>

<h2>
  They played <%= @comp_move %>
</h2>

<% if @comp_move == "paper" %>
  <% @result = "lost!" %>
<% elsif @comp_move == "scissors" %>
  <% @result = "win!" %>
<% else %>
  <% @result = "tied" %>
<% end %>
<h2>
  We <%= @result %>
</h2>

<%= link_to "Rules", "/" %>
